option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    TZ: Asia/Kolkata
    
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.17.0
    
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: frontend/build/static
    /favicon.ico: frontend/build/favicon.ico
    /manifest.json: frontend/build/manifest.json
    
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    SecurityGroups: sg-xxxxxxxxx
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced 